<!DOCTYPE html>
<html>
<head>
    <title>Keystrokes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        pre#log {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size: 18px;
            max-width: 90%;
            max-height: 500px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
    {% if error %}
        <pre>{{ error }}</pre>
    {% endif %}

    <form method="post" action="/download">
        <label for="download_file">Choose file date:</label><br>
        <input type="date" id="date" name="date"><br><br>
        <input type="submit" value="DOWNLOAD"/>
    </form>

    <h2>Keystroke Log</h2>

    <pre id="log">{{ data }}</pre>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script>
        const socket = io();

        socket.on('new_data', function(message) {
            const log = document.getElementById('log');
            log.textContent += message;
            log.scrollTop = log.scrollHeight;
        });
    </script>
</body>
</html>

